@media (max-width: 991px) {
    /* header */
    body {
        overflow-x: hidden;
    }

    .navbar-collapse {
        display: block;
    }
    
    .navbar-els {
        display: block;
        width: 200px;
        height: 60px;
        text-align: center;
        align-items: center;
        transition: all 0.9s ease;
        margin: 0;
    }

    .navbar-nav {
        width: 100%;
        align-items: center;
        background-color: rgb(58, 58, 58);
        border: 1px 0 solid;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    /* header end */
}

@media (max-width: 576px) {
    /* base settings */
    /* base settings end */

    /* section */
    h1.text-r {
        font-size: 40px;
    }

    .block-from p,
    .block-to p {
        font-size: 15px;
    }

    input#from,
    input#to {
        width: 100px;
        margin-left: 1rem;
        border-radius: 8px;
        padding-left: 12px;
        padding-right: 5px;
    }

    p.number-st {
        font-size: 50px;
    }

    .btn-group-lg>.btn, .btn-lg {
        padding: .475rem 0.75rem;
        font-size: 1rem;
        border-radius: .3rem;
    }
    /* section end */

    /* footer */
    /* footer end */
}

@media (max-width: 375px) {
    /* section */
    .navbar-brand p {
        font-size: 15px;
    }

    .navbar-brand img {
        width: 30px;
        height: 30px;
    }
    /* section end */

    /* footer */
    .footer-block p {
        font-size: 12px;
    }
    /* footer end */
}