{% extends "main/layout.html" %}
{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'randoms/styles/style.css' %}">{% endblock %}
{% block title %}Удачное число{% endblock %}

{% block section %}
<div class="block">
    <h1 class="text-r roboto-thin">Удачное число</h1>
    <div class="block-random-number">
        <p class="roboto-thin number-st" id="number">100</p>
    </div>
    <div class="random-number-range">
        <div class="block-from">
            <p>От</p>
            <input type="text" maxlength="9" id="from" name="numbers" autocomplete="off" onkeypress="return isNumber(event)">
        </div>
        <div class="block-to">
            <p>До</p>
            <input type="text" maxlength="9" id="to" name="numbers" autocomplete="off" onkeypress="return isNumber(event)">
        </div>

        <script>
            // input only numbers
            function isNumber(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
        </script>
    </div>
    <div class="section-btn">
        <a type="button" class="btn btn-outline-danger btn-lg" id="gen-number">Сгенерировать</a>
    </div>
</div>
<script src="{% static 'randoms/js/random_number.js' %}" defer></script>
{% endblock %}