{% extends "main/layout.html" %}

{% block title %}Главная страница{% endblock %}

{% block section %}
<div class="content">
    <div class="section-text">
        <p>Если вам понадобилось случайное число, то вам сюда. Воспользуйтесь ссылками вверху страницы, 
            чтобы попасть в соответствующие разделы. Чтобы попасть в случайный раздел, нажмите большую кнопку «Войти на сайт».</p>
        <div class="section-btn">
            <a type="button" class="btn btn-outline-danger btn-lg" href="/randoms">Войти на сайт</a>
        </div>        
    </div>
</div>
{% endblock %}